.chat-input {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 100%;
    max-width: 1000px;
    background: var(--color-primary);

    .input-field {
      width: calc(90% - 20px);
    }
}
