.my-chat-message-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: blue;
}

.other-chat-message-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: red;
}

.message-box {
  max-width: 50%;
  background-color: green;
}
