.my-chat-message-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.other-chat-message-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message-box {
  max-width: 50%;
}

.message-wrap {
  // dynamically sets height of p tag according to message content
  overflow-wrap: break-word;
}
