<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>

<app-header></app-header>

<div class="chat-container">
  <mat-list class="chat-list">
    <mat-list-item *ngFor="let message of messageStream">
      <div
      *ngIf="message.from == username; else leftChatBox"
      class="my-chat-message-box">
        <mat-card class="message-box">
          <p mat-line>
            <span>
              {{message.content}}
            </span>
          </p>
        </mat-card>
      </div>
      <ng-template
        #leftChatBox
        class="other-chat-message-box"
      >
        <mat-card>
          <p mat-line>
            <span>
              {{message.content}}
            </span>
          </p>
        </mat-card>
      </ng-template>
    </mat-list-item>
  </mat-list>
</div>

<footer>
  <app-input (onMessageInput)="onEnter($event)">
  </app-input>
</footer>
