.header-position {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.chat-container {
    padding-top: 75px;
    margin-bottom: 120px;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .chat-list {
        overflow-y: auto;
        width: 100%;
        max-width: 1000px;
        vertical-align: bottom;
        flex-direction: column;
        justify-content: center;
    }
}

.main-card {
    height: 100%;
}

.footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    
    // display: flex;
    // align-content: center;
    // justify-content: center;
}
